<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24068A7F2D55C93C2020CBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79836134CB433E862CFD4AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8203A48DFE371EFF731103BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D66FB1DDFB84230896438DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B57B6E7A6848AE5455DE4657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74F610968BCC179C75155E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
